<!DOCTYPE html>
<html>
    <head>
        <title>Temitope's blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Temitope's Tech Blog</a></h1>
        </header>

        {% for post in posts %}
        <article>
           
            <h2><a href="">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
            <time>Published Date: {{ post.published_date }} Author:{{post.author}}</time>
        </article>
    {% endfor %}
           
            
    
    </body>
</html>
